@import '~jspsych/css/jspsych.css';

// Make fixation cross big
.fixation_cross {
  font-size: 60px;
}

.vertical_spacer {
  height: 15px;
}

// Set the experiment background color
.jspsych-display-element {
  background-color: #ffffff;
}

// Set the content width to 80% of the screen
.jspsych-content {
  width: 80%;
}
