@import '~jspsych/css/jspsych.css';

// Define a custom font-face to maximize standardization
@font-face {
  font-family: Lato;
  src: url(../media/misc/Lato-Regular.ttf);
}

// Set global font to maximize standardization
body {
  font-family: 'Lato', sans-serif;
}

// Set the experiment background color
.jspsych-display-element {
  background-color: #ffffff;
}

// Set the content width to 80% of the screen
.jspsych-content {
  width: 80%;
}
